body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

button {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
section {
  margin-bottom: 5rem;
}
/* Стили для уведомлений (тостов) */
.toasts__block {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.toast--show {
  display: block;
  opacity: 1;
}

.toast--success {
  background-color: #4CAF50;
}

.toast--error {
  background-color: #f44336;
}

.toast__button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  margin-top: 10px;
}

.gallery__button {
  margin-bottom: 20px;
}

/* ГАЛЕРЕЯ */
.gallery__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  height: 220px; /* Фиксированная высота блока */
  text-align: center;
}

.gallery-item__image {
  width: 100%;
  height: 150px; /* Фиксированная высота */
  object-fit: cover; /* Заполняет блок без искажения */
  border-radius: 10px;
}

.gallery-item__caption {
  font-size: 14px;
  margin-top: 5px;
  flex-grow: 1; /* Заполняет доступное пространство */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 5px;
  color: black;
}

/* Темная и светлая тема */
body.light-theme {
  background-color: #fff;
  color: #000;
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

input, button {
  margin: 5px 0;
}

.gallery__message {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.temperature__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 20rem;
  gap: 1rem;
}
.temperature__button {
  padding: 1rem;
  max-width: 12rem;
  margin: 2rem auto 0;
  border-radius: 1.5rem;
  border: 2px solid white;
  background:   #333;
  color: white

}
input {
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid  #333;
}